.navbar_ {
  grid-area: navbar_;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0a95ff;
  padding: 24px 48px 24px 48px;
}
.navbar_items {
  display: flex;
  align-items: center;
}
.navbar_items a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 16px;
  opacity: 0.8;
}
.navbar_items a:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.navbar_logo {
  font-size: 18pt;
  color: #ffffff;
  font-weight: 200;
  border-right: 2px solid #8a2be2;
  border-bottom: 2px solid #8a2be2;
  padding-right: 6px;
  border-radius: 0 0 6px 0;
}
.navbar_logo span {
  color: #8a2be2;
  font-weight: 700;
}
