.auth_ {
  display: grid;
  grid-template-rows: 0.5fr auto 1fr;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    ' . . . '
    ' . authform . '
    ' . . . ';
  height: 100%;
}

.authform {
  grid-area: authform;
  width: 50%;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 6px;
  width: 340px;
  justify-self: center;
  align-self: flex-start;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(8, 8, 8, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.2);
}
.authform_title {
  color: #7d7d7d;
}
.authform_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authform_actions span {
  font-size: 12px;
  color: #0a95ff;
  cursor: pointer;
  user-select: none;
}
.authform_actions span:hover {
  opacity: 0.8;
}
