.users_ {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "users_header"
    "users_body";
  padding: 32px;
}
.users_header {
  grid-area: users_header;
  color: #7d7d7d;
  padding: 0 0 32px 0;
}
.users_body {
  grid-area: users_body;
}
.user_items {
  margin: 8px 0;
  padding: 8px;
  background: #ffffff;
  border-radius: 4px;
}
