.users_ {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'body';
}

.users_body {
  grid-area: body;
  padding: 64px 48px;
}
.users_header {
  margin-bottom: 16px;
  color: #5a5a5a;
}
