.auth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'authform';
  height: 100%;
}
.authform {
  grid-area: authform;
  /*TODO: need to modify later*/
  align-self: center;
  justify-self: center;
  width: 512px;
  background: var(--white);
  border-radius: 4px;
  padding: 24px;
}
.formtitle {
  color: var(--form_title);
  margin-bottom: 20px;
}
