.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  position: relative;
  height: 100%;
  width: 264px;
}
.navbar_logo svg:hover {
  cursor: pointer;
}
.navbar_links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 32px;
  height: 100%;
}
.navbar_links > li {
  padding: 0 8px;
  cursor: pointer;
  height: 100%;
}
.navbar_links > li > a {
  display: block;
  color: var(--white);
  line-height: 64px;
}
.navbar_links > li:hover {
  background: var(--hovernavbar);
}
