.auth_inp_mt_24 {
  margin-top: 24px;
}
.primarybutton,
.primarybutton button {
  width: 100%;
}
.primarybutton button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: var(--submit);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.primarybutton button:hover {
  opacity: 0.8;
}
.accept button {
  background: var(--primary);
}
