* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-rows: 64px auto;
  grid-template-columns: 1fr;
  /*TODO: read css and css grids*/
  grid-template-areas:
    'navbar_area'
    'content_area';
  height: 100vh;
  background: var(--fond);
}
.navbar_area {
  grid-area: navbar_area;
  background: var(--primary);
}
.content_area {
  grid-area: content_area;
}
:root {
  --primary: #d15df7;
  --white: #ffffff;
  --hovernavbar: #c525fb;
  --fond: #e0e0e0;
  --input_border: #cdcdcd;
  --input_label: #858585;
  --form_title: #474747;
  --submit: #32c800;
  --default: #0014c8;
}
